Repository bytedeck/bytedeck: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations

django-check:
  name: Check django project for potential problems
  entry: sh -c 'python src/manage.py check'
  pass_filenames: false
  language: system

django-check-migrations:
  name: Check django project for missing migrations.
  entry: sh -c 'python src/manage.py makemigrations --check --dry-run'
  pass_filenames: false
  language: system

Always prompt for account when logging in via google
  src/hackerspace_online/settings.py
Due: django-check

Enable email verification
  src/hackerspace_online/settings.py
  src/templates/account/email_confirm.html
Due: django-check

Convert resend email verification view to CBV
  src/profile_manager/forms.py
  src/profile_manager/tests/test_views.py
  src/profile_manager/urls.py
  src/profile_manager/views.py
Due: django-check

Update enabling google sign in steps
  README.md
Due: none

docs: update FAQ (#1335)
  src/bytedeck_summernote/README.md
  src/bytedeck_summernote/templates/bytedeck_summernote/widget_iframe.html
  src/bytedeck_summernote/templates/bytedeck_summernote/widget_iframe_editor.html
  src/bytedeck_summernote/templates/bytedeck_summernote/widget_inplace.html
Due: none

Bump django-allauth to 0.54
  requirements-production.txt
Due: none

fix: scripts run twice in admin, close #1336
  src/bytedeck_summernote/templates/bytedeck_summernote/widget_common.html
Due: none

Fix google button enabled link
  src/hackerspace_online/tests/test_views.py
  src/templates/account/login.html
  src/templates/account/signup.html
Due: django-check

fix: scripts run twice in admin, close #1336 (#1337)
  src/bytedeck_summernote/templates/bytedeck_summernote/widget_common.html
Due: none

feature: make the codeview icon red or yellow (or otherwise different)
  src/bytedeck_summernote/admin.py
  src/bytedeck_summernote/templates/bytedeck_summernote/widget_common.html
  src/static/css/custom_summernote_iframe.css
  src/static/css/custom_summernote_widget.css
Due: django-check

fix: change it to be highlighted on :hover only
  src/static/css/custom_summernote_iframe.css
  src/static/css/custom_summernote_widget.css
Due: none

Handle changing emails and reverting to original and add test case
  src/hackerspace_online/tests/test_forms.py
  src/profile_manager/models.py
Due: django-check, django-check-migrations

Add test when signing up as a new user
  src/hackerspace_online/tests/test_forms.py
  src/profile_manager/models.py
  src/profile_manager/tests/test_views.py
Due: django-check, django-check-migrations

feature: change the the hover-text for advanced widget
  src/bytedeck_summernote/static/bytedeck_summernote/LICENSE
  src/bytedeck_summernote/static/bytedeck_summernote/lang/bytedeck_summernote-advanced-en-US.min.js
  src/bytedeck_summernote/widgets.py
Due: django-check

Add OAuth merge account flow and tests
  src/hackerspace_online/adapter.py
  src/hackerspace_online/tests/test_forms.py
  src/profile_manager/urls.py
  src/profile_manager/views.py
Due: django-check

Add comment on why we have to query social emails this way
  src/profile_manager/models.py
Due: django-check, django-check-migrations

Include missing template
  src/templates/socialaccount/merge.html
Due: none

feature: add indicators to "Advanced" Summernote widgets (#1338)
  src/bytedeck_summernote/admin.py
  src/bytedeck_summernote/static/bytedeck_summernote/LICENSE
  src/bytedeck_summernote/static/bytedeck_summernote/lang/bytedeck_summernote-advanced-en-US.min.js
  src/bytedeck_summernote/templates/bytedeck_summernote/widget_common.html
  src/bytedeck_summernote/widgets.py
  src/static/css/custom_summernote_iframe.css
  src/static/css/custom_summernote_widget.css
Due: django-check

update Changelog for v1.20.0
  CHANGELOG.md
Due: none

Use google sign in button
  src/hackerspace_online/tests/test_views.py
  src/static/img/btn_google_signin_dark_normal_web.png
  src/templates/account/login.html
  src/templates/account/signup.html
Due: django-check

Google Oauth2 setup and email verifications (#1300); closes #1296; closes #1297; closes #1299
  README.md
  requirements-production.txt
  src/announcements/tasks.py
  src/announcements/tests/test_tasks.py
  src/hackerspace_online/adapter.py
  src/hackerspace_online/admin.py
  src/hackerspace_online/apps.py
  src/hackerspace_online/forms.py
  src/hackerspace_online/settings.py
  src/hackerspace_online/signals.py
  src/hackerspace_online/tests/test_forms.py
  src/hackerspace_online/tests/test_views.py
  src/profile_manager/forms.py
  src/profile_manager/models.py
  src/profile_manager/tests/test_forms.py
  src/profile_manager/tests/test_views.py
  src/profile_manager/urls.py
  src/profile_manager/views.py
  src/siteconfig/forms.py
  src/siteconfig/migrations/0019_siteconfig_enable_google_signin.py
  src/siteconfig/models.py
  src/static/img/btn_google_signin_dark_normal_web.png
  src/templates/account/email_confirm.html
  src/templates/account/login.html
  src/templates/account/signup.html
  src/templates/socialaccount/connections.html
  src/templates/socialaccount/login.html
  src/templates/socialaccount/merge.html
  src/templates/socialaccount/signup.html
  src/tenant/admin.py
  src/tenant/initialization.py
  src/tenant/tests/test_admin.py
Due: django-check, django-check-migrations

Update CHANGELOG to include Google OAuth2
  CHANGELOG.md
Due: none

Remove Tag model from public tenant admin; closes #1339
  src/tags/admin.py
Due: django-check

Integrate codecov with Build and Tests workflow
  .coveragerc
  .github/workflows/build_and_test.yml
Due: none

Add codecov badge to README
  README.md
Due: none

Set codecov minimum coverage to 80%
  codecov.yml
Due: none

Integrate codecov to build workflow (#1341); Closes #1149
  .coveragerc
  .github/workflows/build_and_test.yml
  README.md
  codecov.yml
Due: none

feature: use local copy of django_summernote's defaults
  src/bytedeck_summernote/settings.py
  src/bytedeck_summernote/widgets.py
Due: django-check

fix: safe widget is stripping/escaping some html tags entered in codeview
  src/bytedeck_summernote/css_sanitizer.py
  src/bytedeck_summernote/settings.py
  src/bytedeck_summernote/widgets.py
Due: django-check

fix: add missing tests
  src/bytedeck_summernote/tests/test_css_sanitizier.py
Due: django-check

fix: typo made by previous commits
  src/bytedeck_summernote/widgets.py
Due: django-check

fix: increase coverage
  src/bytedeck_summernote/widgets.py
Due: django-check

fix: safe widget is stripping some html tags (closes #1340) (#1342)
  src/bytedeck_summernote/css_sanitizer.py
  src/bytedeck_summernote/settings.py
  src/bytedeck_summernote/tests/test_css_sanitizier.py
  src/bytedeck_summernote/widgets.py
Due: django-check

HOTFIX: safe widget is stripping some html tags (closes #1340) (#1342)
  src/bytedeck_summernote/css_sanitizer.py
  src/bytedeck_summernote/settings.py
  src/bytedeck_summernote/tests/test_css_sanitizier.py
  src/bytedeck_summernote/widgets.py
Due: django-check

feature: getting rid of "bleach" library
  requirements-production.txt
  src/bytedeck_summernote/css_sanitizer.py
  src/bytedeck_summernote/settings.py
  src/bytedeck_summernote/tests/test_css_sanitizier.py
  src/bytedeck_summernote/tests/test_widgets.py
  src/bytedeck_summernote/widgets.py
Due: django-check

remove old instructions for pre-commit hook initializing
  CONTRIBUTING.md
Due: none

Google OAuth documentation clarifications
  README.md
  src/tenant/admin.py
Due: django-check

fix misplaced 'or' and tweak styling on Google sign in forms
  src/templates/account/login.html
  src/templates/account/signup.html
Due: none

Use https for default protocol
  src/hackerspace_online/settings.py
Due: django-check

Path conditions:
  django-check: any of: \.py$
  django-check-migrations: any of: models.py and \.py$
