Repository bytedeck/bytedeck: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-added-large-files
        exclude: ^requirements/generated.txt

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.34.0
    hooks:
      - id: pyupgrade
        args: [ "--py36-plus", "--py37-plus", "--py38-plus" ]
        types: [python]

  - repo: local
    hooks:
      - id: django-check
        name: Check django project for potential problems
        entry: sh -c 'python src/manage.py check'
        types: [python]
        pass_filenames: false
        language: system
      - id: django-check-migrations
        name: Check django project for missing migrations.
        entry: sh -c 'python src/manage.py makemigrations --check --dry-run'
        files: "models.py"
        types: [python]
        pass_filenames: false
        language: system

  - repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
      - id: autoflake
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variable",
          ]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          [
            "flake8-bugbear",
            "flake8-comprehensions",
            "flake8-mutable",
          ]

  ## Packages here are subjective...
  # - repo: https://github.com/asottile/reorder_python_imports
  #   rev: v3.1.0
  #   hooks:
  #     - id: reorder-python-imports
  #
  # - repo: https://github.com/python/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black

Bump django-allauth to 0.52
  requirements-production.txt
Due: none

Require access_code on sign in via Google first time; Closes #1297
  src/hackerspace_online/forms.py
  src/hackerspace_online/settings.py
  src/siteconfig/migrations/0019_siteconfig_enable_google_signin.py
  src/siteconfig/models.py
  src/templates/socialaccount/signup.html
Due: django-check, django-check-migrations

Add login.html template introduced in allauth 0.47.0
  src/templates/socialaccount/login.html
Due: none

Update documentation for configuring Google Sign in
  README.md
Due: none

Add test when enabling google sign in
  src/siteconfig/tests/test_views.py
Due: django-check

Add email confirmation and email confirmed handler
  src/profile_manager/forms.py
  src/profile_manager/models.py
  src/profile_manager/views.py
Due: django-check, django-check-migrations

Add error mesage when attempting to enable google sign in without configuring social app
  src/tenant/admin.py
Due: django-check

Prevent enabling google provider if tenant does not have it configured
  src/siteconfig/forms.py
  src/siteconfig/models.py
Due: django-check, django-check-migrations

Remove rendudant help_text for enable_google_signin
  src/siteconfig/migrations/0019_siteconfig_enable_google_signin.py
  src/siteconfig/models.py
Due: django-check, django-check-migrations

Remove unuseful condition on signal to improve test cov
  src/hackerspace_online/signals.py
Due: django-check

Fix google sign in enabled test case
  src/hackerspace_online/tests/test_views.py
Due: django-check

Update tests for google sign in
  src/hackerspace_online/tests/test_forms.py
  src/siteconfig/tests/test_views.py
Due: django-check

Add connections template for listing connected social accounts
  src/templates/socialaccount/connections.html
Due: none

Update google login link
  src/templates/account/login.html
Due: none

Make enable_google_signin read-only
  src/siteconfig/forms.py
  src/siteconfig/migrations/0019_siteconfig_enable_google_signin.py
  src/siteconfig/models.py
Due: django-check, django-check-migrations

Enable google oauth sign in; Closes #1296
  src/hackerspace_online/admin.py
  src/hackerspace_online/settings.py
  src/templates/account/login.html
Due: django-check

Add documentation for pre_social_login
  src/hackerspace_online/adapter.py
Due: django-check

Convert dispatch into Profile owner mixin
  src/profile_manager/views.py
Due: django-check

Update username help_text
  src/hackerspace_online/forms.py
Due: django-check

Update sign in page
  src/templates/account/login.html
Due: none

Add django.contrib.sites to TENANT_APPS
  src/hackerspace_online/settings.py
Due: django-check

Add comment for resend email verification view
  src/profile_manager/views.py
Due: django-check

Add documentation for handle_tenant_site_domain_update
  src/hackerspace_online/signals.py
Due: django-check

Fix flake8 errors
  src/hackerspace_online/admin.py
  src/hackerspace_online/signals.py
Due: django-check

Prevent user from adding email of an existing user
  src/profile_manager/forms.py
  src/profile_manager/tests/test_forms.py
  src/profile_manager/tests/test_views.py
Due: django-check

Add test case for email update and email verify login reminder
  src/profile_manager/tests/test_views.py
Due: django-check

Update email_confirmed_handler documentation
  src/profile_manager/models.py
Due: django-check, django-check-migrations

Prevent creating test data for public schema
  src/tenant/initialization.py
Due: django-check

Exclude public schema from queryset
  src/tenant/admin.py
Due: django-check

Auto update site domain on tenant create
  src/hackerspace_online/apps.py
  src/hackerspace_online/signals.py
Due: django-check

Increase coverage for admin
  src/tenant/admin.py
Due: django-check

Add documentation for _propagate_google_provider
  src/siteconfig/models.py
Due: django-check, django-check-migrations

Add google sign inbutton visibility test in page
  src/hackerspace_online/tests/test_views.py
Due: django-check

Add comment on filtering EmailAddress
  src/profile_manager/forms.py
Due: django-check

Remove duplicate empyt conditions
  src/profile_manager/models.py
Due: django-check, django-check-migrations

Add initial social signup tests
  src/hackerspace_online/tests/test_forms.py
Due: django-check

Add test case for enable/disable google sign in via admin
  src/tenant/tests/test_admin.py
Due: django-check

Add verify email reminder on login
  src/profile_manager/models.py
Due: django-check, django-check-migrations

Update verified and not verified design
  src/profile_manager/forms.py
Due: django-check

Add resend verification link under profiles page
  src/profile_manager/forms.py
  src/profile_manager/models.py
  src/profile_manager/urls.py
  src/profile_manager/views.py
  src/templates/account/email_confirm.html
Due: django-check, django-check-migrations
