Repository bytedeck/bytedeck: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-added-large-files
        exclude: ^requirements/generated.txt

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.34.0
    hooks:
      - id: pyupgrade
        args: [ "--py36-plus", "--py37-plus", "--py38-plus" ]
        types: [python]

  - repo: local
    hooks:
      - id: django-check
        name: Check django project for potential problems
        entry: sh -c 'python src/manage.py check'
        types: [python]
        pass_filenames: false
        language: system
      - id: django-check-migrations
        name: Check django project for missing migrations.
        entry: sh -c 'python src/manage.py makemigrations --check --dry-run'
        files: "models.py"
        types: [python]
        pass_filenames: false
        language: system

  - repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
      - id: autoflake
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variable",
          ]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          [
            "flake8-bugbear",
            "flake8-comprehensions",
            "flake8-mutable",
          ]

  ## Packages here are subjective...
  # - repo: https://github.com/asottile/reorder_python_imports
  #   rev: v3.1.0
  #   hooks:
  #     - id: reorder-python-imports
  #
  # - repo: https://github.com/python/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black

feature: per-model `search_fields` for ContentObjectSelect2Widget class
  src/courses/models.py
  src/djcytoscape/forms.py
  src/djcytoscape/tests/test_fields.py
  src/djcytoscape/tests/test_views.py
  src/prerequisites/forms.py
  src/prerequisites/models.py
  src/prerequisites/tests/test_fields.py
  src/prerequisites/tests/test_forms.py
  src/prerequisites/tests/test_models.py
  src/prerequisites/widgets.py
  src/quest_manager/models.py
  src/quest_manager/tests/test_views.py
  src/utilities/fields.py
  src/utilities/tests/test_views.py
  src/utilities/tests/test_widgets.py
  src/utilities/widgets.py
Due: django-check, django-check-migrations

uncomment testtest_post_save_button__defaults
  src/quest_manager/tests/test_views.py
Due: django-check

Uncomment broken test
  src/quest_manager/tests/test_views.py
Due: django-check

Add comment on flaky test
  src/quest_manager/tests/test_models.py
Due: django-check, django-check-migrations

fix: rename ContentObjectSelect2Widget to GFKSelect2Widget
  src/courses/models.py
  src/prerequisites/models.py
  src/prerequisites/tests/test_models.py
  src/quest_manager/models.py
  src/utilities/fields.py
  src/utilities/tests/test_views.py
  src/utilities/tests/test_widgets.py
  src/utilities/views.py
  src/utilities/widgets.py
Due: django-check, django-check-migrations

fix: rename ContentObjectChoiceField to GFKChoiceField
  src/djcytoscape/forms.py
  src/djcytoscape/tests/test_fields.py
  src/prerequisites/forms.py
  src/prerequisites/tests/test_fields.py
  src/utilities/fields.py
  src/utilities/tests/test_fields.py
  src/utilities/tests/test_views.py
  src/utilities/tests/test_widgets.py
Due: django-check

fix: uncomment broken tests
  src/quest_manager/tests/test_views.py
Due: django-check

Add test naming convention and docstring requirements; closes; closes #1325
  CONTRIBUTING.md
Due: none

fix: some useless renaming
  src/djcytoscape/forms.py
  src/djcytoscape/tests/test_fields.py
  src/prerequisites/forms.py
  src/prerequisites/tests/test_fields.py
  src/utilities/tests/test_views.py
  src/utilities/tests/test_widgets.py
Due: django-check

Rename remaining ContentObject to GFK and run pre-commit hooks
  src/utilities/fields.py
  src/utilities/widgets.py
Due: django-check

DRY up code: consolidate common placeholder text into AllowedGFKChoiceField
  src/djcytoscape/forms.py
  src/prerequisites/forms.py
  src/utilities/fields.py
Due: django-check

feature: per-model `search_fields` for GFKSelect2Widget class (#1284)
  src/courses/models.py
  src/djcytoscape/forms.py
  src/djcytoscape/tests/test_fields.py
  src/djcytoscape/tests/test_views.py
  src/prerequisites/forms.py
  src/prerequisites/models.py
  src/prerequisites/tests/test_fields.py
  src/prerequisites/tests/test_forms.py
  src/prerequisites/tests/test_models.py
  src/prerequisites/widgets.py
  src/quest_manager/models.py
  src/quest_manager/tests/test_views.py
  src/utilities/fields.py
  src/utilities/tests/test_fields.py
  src/utilities/tests/test_views.py
  src/utilities/tests/test_widgets.py
  src/utilities/views.py
  src/utilities/widgets.py
Due: django-check, django-check-migrations

feature: implement Safe & Advanced SummernoteWidget(s)
  requirements-production.txt
  src/announcements/admin.py
  src/announcements/forms.py
  src/bytedeck_summernote/__init__.py
  src/bytedeck_summernote/admin.py
  src/bytedeck_summernote/templates/bytedeck_summernote/LICENSE
  src/bytedeck_summernote/templates/bytedeck_summernote/widget_advanced.html
  src/bytedeck_summernote/templates/bytedeck_summernote/widget_advanced_editor.html
  src/bytedeck_summernote/templates/bytedeck_summernote/widget_common.html
  src/bytedeck_summernote/templates/bytedeck_summernote/widget_safe.html
  src/bytedeck_summernote/tests/__init__.py
  src/bytedeck_summernote/tests/test_admin.py
  src/bytedeck_summernote/tests/test_views.py
  src/bytedeck_summernote/tests/test_widgets.py
  src/bytedeck_summernote/urls.py
  src/bytedeck_summernote/views.py
  src/bytedeck_summernote/widgets.py
  src/comments/forms.py
  src/hackerspace_online/settings.py
  src/hackerspace_online/urls.py
  src/portfolios/forms.py
  src/quest_manager/admin.py
  src/quest_manager/forms.py
  src/utilities/admin.py
  src/utilities/forms.py
Due: django-check

feature: simplify upgrading to a newer "django_summernote"
  src/announcements/admin.py
  src/bytedeck_summernote/admin.py
  src/bytedeck_summernote/templates/bytedeck_summernote/widget_iframe.html
  src/bytedeck_summernote/templates/bytedeck_summernote/widget_iframe_editor.html
  src/bytedeck_summernote/templates/bytedeck_summernote/widget_inplace.html
  src/bytedeck_summernote/tests/test_admin.py
  src/bytedeck_summernote/tests/test_widgets.py
  src/bytedeck_summernote/urls.py
  src/bytedeck_summernote/views.py
  src/bytedeck_summernote/widgets.py
  src/comments/forms.py
  src/quest_manager/admin.py
  src/quest_manager/forms.py
  src/utilities/admin.py
  src/utilities/forms.py
Due: django-check

fix: use non-iframe aka inplace variant by default
  src/comments/forms.py
  src/quest_manager/forms.py
  src/utilities/forms.py
Due: django-check

adding README.md
  src/bytedeck_summernote/README.md
Due: none

fix: replace ByteDeckSummernoteSafeWidget with ByteDeckSummernoteSafeInplaceWidget
  src/announcements/forms.py
  src/portfolios/forms.py
Due: django-check

Test github parallel test
  .github/workflows/build_and_test.yml
Due: none

fix: reworked broken tests
  src/bytedeck_summernote/tests/test_admin.py
Due: django-check

feature: implement Safe & Advanced SummernoteWidget(s) (#1328); closes #1302
  requirements-production.txt
  src/announcements/admin.py
  src/announcements/forms.py
  src/bytedeck_summernote/README.md
  src/bytedeck_summernote/__init__.py
  src/bytedeck_summernote/admin.py
  src/bytedeck_summernote/templates/bytedeck_summernote/LICENSE
  src/bytedeck_summernote/templates/bytedeck_summernote/widget_common.html
  src/bytedeck_summernote/templates/bytedeck_summernote/widget_iframe.html
  src/bytedeck_summernote/templates/bytedeck_summernote/widget_iframe_editor.html
  src/bytedeck_summernote/templates/bytedeck_summernote/widget_inplace.html
  src/bytedeck_summernote/tests/__init__.py
  src/bytedeck_summernote/tests/test_admin.py
  src/bytedeck_summernote/tests/test_views.py
  src/bytedeck_summernote/tests/test_widgets.py
  src/bytedeck_summernote/urls.py
  src/bytedeck_summernote/views.py
  src/bytedeck_summernote/widgets.py
  src/comments/forms.py
  src/hackerspace_online/settings.py
  src/hackerspace_online/urls.py
  src/portfolios/forms.py
  src/quest_manager/admin.py
  src/quest_manager/forms.py
  src/utilities/admin.py
  src/utilities/forms.py
Due: django-check

Add missing test for ByteDeckSummernoteModelAdminMixin
  src/bytedeck_summernote/tests/test_admin.py
Due: django-check

docs: update FAQ
  src/bytedeck_summernote/README.md
  src/bytedeck_summernote/templates/bytedeck_summernote/widget_iframe.html
  src/bytedeck_summernote/templates/bytedeck_summernote/widget_iframe_editor.html
  src/bytedeck_summernote/templates/bytedeck_summernote/widget_inplace.html
Due: none

Set ACCOUNT_MAX_EMAIL_ADDRESSES to 2
  src/hackerspace_online/settings.py
Due: django-check

Fix form validation error after allauth upgrade
  src/hackerspace_online/tests/test_forms.py
Due: django-check

Add comment for which methods are incuded in the test case
  src/profile_manager/tests/test_views.py
Due: django-check

Increase test coverage for profiles
  src/profile_manager/forms.py
  src/profile_manager/models.py
  src/profile_manager/tests/test_forms.py
  src/profile_manager/tests/test_views.py
  src/profile_manager/views.py
Due: django-check, django-check-migrations

Update README.md for enabling google sign in
  README.md
Due: none

Use custom social account adapter to automatically merge accounts
  src/hackerspace_online/adapter.py
  src/hackerspace_online/settings.py
Due: django-check

Add google sign in button in sign up page
  src/templates/account/signup.html
Due: none

Add enable/disable google sign in as admin actions
  src/tenant/admin.py
Due: django-check

Use localhost.net as alternative domain
  README.md
Due: none

Clean up mocked functions
  src/profile_manager/tests/test_views.py
  src/tenant/tests/test_admin.py
Due: django-check

Only send to verified emails and update tests
  src/announcements/tasks.py
  src/announcements/tests/test_tasks.py
Due: django-check

Enable unique email addresses
  src/hackerspace_online/settings.py
Due: django-check

Increase test coverage for adapter
  src/hackerspace_online/tests/test_forms.py
Due: django-check

Add sign up automatic merge accounts
  src/hackerspace_online/tests/test_forms.py
Due: django-check

Move social app configuration to public schema only
  src/hackerspace_online/admin.py
  src/siteconfig/forms.py
  src/siteconfig/models.py
Due: django-check, django-check-migrations

Display redirect uris after enabling
  src/tenant/admin.py
Due: django-check

Remove form and POST tests for enable_google_signin
  src/siteconfig/forms.py
  src/siteconfig/tests/test_views.py
Due: django-check
