Repository bytedeck/bytedeck: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations

django-check:
  name: Check django project for potential problems
  entry: sh -c 'python src/manage.py check'
  pass_filenames: false
  language: system

django-check-migrations:
  name: Check django project for missing migrations.
  entry: sh -c 'python src/manage.py makemigrations --check --dry-run'
  pass_filenames: false
  language: system

pin django to 3.2.18 until #1353 is resolved
  requirements-production.txt
Due: none

feat: add_possessive filter + default
  src/profile_manager/templates/profile_manager/profile_detail.html
  src/utilities/templatetags/filters.py
  src/utilities/tests/test_templatetags_filters.py
Due: django-check

feat: add_possessive filter + default to names in profile detail template (#1354)
  src/profile_manager/templates/profile_manager/profile_detail.html
  src/utilities/templatetags/filters.py
  src/utilities/tests/test_templatetags_filters.py
Due: django-check

Use https for default protocol for generating allauth urls (#1352)
  src/hackerspace_online/settings.py
Due: django-check

Refactor indentation of quest field html; fixes #1357; fixes #889; fixes #771
  src/quest_manager/signals.py
  src/quest_manager/tests/test_models.py
  src/quest_manager/tests/test_signals.py
Due: django-check, django-check-migrations

docs: explaining summernote options
  src/bytedeck_summernote/tests/test_widgets.py
  src/bytedeck_summernote/widgets.py
Due: django-check

fix: make "figure" and "figcaption" safe again
  src/bytedeck_summernote/settings.py
Due: django-check

feature: getting rid of "bleach" library
  requirements-production.txt
  src/bytedeck_summernote/css_sanitizer.py
  src/bytedeck_summernote/settings.py
  src/bytedeck_summernote/tests/test_css_sanitizier.py
  src/bytedeck_summernote/tests/test_widgets.py
  src/bytedeck_summernote/widgets.py
Due: django-check

docs: explaining summernote options (#1358)
  src/bytedeck_summernote/tests/test_widgets.py
  src/bytedeck_summernote/widgets.py
Due: django-check

fix: make "figure" and "figcaption" safe again (#1359)
  src/bytedeck_summernote/settings.py
Due: django-check

Fix typo in contributing.md at pgadmin4 steps 2, 5
  CONTRIBUTING.md
Due: none

Fix typo in contributing.md at pgadmin4 steps 2, 5 (#1362)
  CONTRIBUTING.md
Due: none

Fixed pg-admin being on separate docker network from database
  docker-compose.override.yml
Due: none

Fixed pg-admin being on separate docker network from database (#1364)
  docker-compose.override.yml
Due: none

Fixed missing closing brace for pluralization; closes #1366
  src/quest_manager/templates/quest_manager/preview_content_quests_avail.html
Due: none

Fixed missing closing brace for pluralization; closes #1366 (#1367)
  src/quest_manager/templates/quest_manager/preview_content_quests_avail.html
Due: none

fix: alphabetically order quest maps in list view; Closes #1346
  src/djcytoscape/migrations/0013_alter_cytoscape_options.py
  src/djcytoscape/models.py
  src/djcytoscape/tests/test_models.py
Due: django-check, django-check-migrations

fix: alphabetically order quest maps in list view; Closes #1346 (#1368)
  src/djcytoscape/migrations/0013_alter_cytoscape_options.py
  src/djcytoscape/models.py
  src/djcytoscape/tests/test_models.py
Due: django-check, django-check-migrations

Fixed XP button not working on mobile devices; Closes #1283
  src/profile_manager/tests/test_views.py
  src/templates/navbar-fixed.html
Due: django-check

Fixed XP button not working on mobile devices; Closes #1283 (#1363)
  src/profile_manager/tests/test_views.py
  src/templates/navbar-fixed.html
Due: django-check

Add a test that linebreaks within html properties aren't bokred by prettyprinting
  src/quest_manager/tests/test_signals.py
Due: django-check

Cleaned up contributing documentation, mainly regarding pre-commit hooks
  .gitattributes
  CONTRIBUTING.md
  MULTITENANT-README.md
  README.md
Due: none

Changed project-wide references of *./src/manage.py* to *python src/manage.py*
  .env.example
  .env.example.aws
  docker-compose.ci-tests.yml
  docker-compose.override.yml
  src/hackerspace_online/shell_utils.py
Due: django-check

Updated pre-commit and Docker Info in Contributing Documentation (#1361)
  .env.example
  .env.example.aws
  .gitattributes
  CONTRIBUTING.md
  MULTITENANT-README.md
  README.md
  docker-compose.ci-tests.yml
  docker-compose.override.yml
  src/hackerspace_online/shell_utils.py
Due: django-check

add student label customization; #1330
  src/profile_manager/forms.py
  src/profile_manager/templates/profile_manager/form.html
  src/profile_manager/templates/profile_manager/profile_list.html
  src/profile_manager/tests/test_views.py
  src/siteconfig/migrations/0020_siteconfig_custom_name_for_student.py
  src/siteconfig/models.py
  src/templates/sidebar.html
Due: django-check, django-check-migrations

add student label customization; #1330 (#1371)
  src/profile_manager/forms.py
  src/profile_manager/templates/profile_manager/form.html
  src/profile_manager/templates/profile_manager/profile_list.html
  src/profile_manager/tests/test_views.py
  src/siteconfig/migrations/0020_siteconfig_custom_name_for_student.py
  src/siteconfig/models.py
  src/templates/sidebar.html
Due: django-check, django-check-migrations

fix: update "help_text" default values
  src/siteconfig/forms.py
  src/siteconfig/migrations/0020_auto_20230522_0459.py
  src/siteconfig/migrations/0020_auto_20230525_0432.py
  src/siteconfig/models.py
Due: django-check, django-check-migrations

fix: ClearableFileInput returns False instead of None
  src/siteconfig/forms.py
Due: django-check

docs: add missing docstrings
  src/siteconfig/forms.py
  src/siteconfig/tests/test_forms.py
Due: django-check

Custom deck css and js, fix #1365
  requirements-production.txt
  src/siteconfig/forms.py
  src/siteconfig/migrations/0020_auto_20230522_0459.py
  src/siteconfig/models.py
  src/siteconfig/templates/siteconfig/siteconfig_form.html
  src/siteconfig/tests/test_forms.py
  src/siteconfig/tests/test_views.py
  src/siteconfig/views.py
  src/templates/head_css.html
  src/templates/javascript.html
Due: django-check, django-check-migrations

fix: merge conflicted migrations
  src/siteconfig/forms.py
  src/siteconfig/migrations/0021_merge_20230527_1228.py
Due: django-check

tests: explaining difference between "wrong" and "invalid" content
  src/siteconfig/tests/test_forms.py
Due: django-check

add announcement label customization; #1330
  src/announcements/forms.py
  src/announcements/templates/announcements/delete.html
  src/announcements/templates/announcements/list.html
  src/announcements/tests/test_views.py
  src/announcements/views.py
  src/siteconfig/migrations/0021_siteconfig_custom_name_for_announcement.py
  src/siteconfig/models.py
  src/templates/sidebar.html
Due: django-check, django-check-migrations

tests: more tests (file uploading / removal)
  src/siteconfig/tests/test_views.py
Due: django-check

code cleanup before merging
  src/siteconfig/forms.py
  src/siteconfig/tests/test_forms.py
Due: django-check

add announcement label customization; #1330 (#1375)
  src/announcements/forms.py
  src/announcements/templates/announcements/delete.html
  src/announcements/templates/announcements/list.html
  src/announcements/tests/test_views.py
  src/announcements/views.py
  src/siteconfig/migrations/0021_siteconfig_custom_name_for_announcement.py
  src/siteconfig/models.py
  src/templates/sidebar.html
Due: django-check, django-check-migrations

Updated quests2.html to match quests.html, but pointing to tab_quests_available2.html
  src/quest_manager/templates/quest_manager/quests2.html
Due: none

Refactoring of quest list using bootstrap-table
  src/quest_manager/static/quest_manager/css/bootstrap-table-accordian.css
  src/quest_manager/static/quest_manager/js/bootstrap-table-accordian.js
  src/quest_manager/templates/quest_manager/base.html
  src/quest_manager/templates/quest_manager/quests2.html
  src/quest_manager/templates/quest_manager/tab_quests_available2.html
Due: none

Improved bootstrap-table quest list: Added search field, fixed small font, replaced expiry column with tags, made this the official quest list, etc
  src/quest_manager/templates/quest_manager/quests.html
  src/quest_manager/templates/quest_manager/quests_old.html
  src/quest_manager/templates/quest_manager/tab_quests_available.html
  src/quest_manager/templates/quest_manager/tab_quests_available2.html
  src/quest_manager/templates/quest_manager/tab_quests_available_old.html
  src/quest_manager/tests/test_views.py
  src/quest_manager/urls.py
  src/quest_manager/views.py
Due: django-check

add badge label customization; #1330
  src/badges/forms.py
  src/badges/templates/badges/badge_confirm_delete.html
  src/badges/templates/badges/badgetype_confirm_delete.html
  src/badges/templates/badges/badgetype_list.html
  src/badges/templates/badges/base.html
  src/badges/templates/badges/detail.html
  src/badges/templates/badges/list.html
  src/badges/templates/badges/snippets/badge_popover_content.html
  src/badges/tests/test_views.py
  src/badges/views.py
  src/siteconfig/migrations/0022_siteconfig_custom_name_for_badge.py
  src/siteconfig/models.py
  src/templates/sidebar.html
Due: django-check, django-check-migrations

Path conditions:
  django-check: any of: \.py$
  django-check-migrations: any of: models.py and \.py$
