Repository bytedeck/bytedeck: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-added-large-files
        exclude: ^requirements/generated.txt

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.34.0
    hooks:
      - id: pyupgrade
        args: [ "--py36-plus", "--py37-plus", "--py38-plus" ]
        types: [python]

  - repo: local
    hooks:
      - id: django-check
        name: Check django project for potential problems
        entry: sh -c 'python src/manage.py check'
        types: [python]
        pass_filenames: false
        language: system
      - id: django-check-migrations
        name: Check django project for missing migrations.
        entry: sh -c 'python src/manage.py makemigrations --check --dry-run'
        files: "models.py"
        types: [python]
        pass_filenames: false
        language: system

  - repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
      - id: autoflake
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variable",
          ]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          [
            "flake8-bugbear",
            "flake8-comprehensions",
            "flake8-mutable",
          ]

  ## Packages here are subjective...
  # - repo: https://github.com/asottile/reorder_python_imports
  #   rev: v3.1.0
  #   hooks:
  #     - id: reorder-python-imports
  #
  # - repo: https://github.com/python/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black

test: issue #1214 get_banner_image_url error on public domain in some views
  src/hackerspace_online/tests/test_views.py
Due: django-check

test: re-factor tests and update docstrings
  src/hackerspace_online/tests/test_auth.py
  src/hackerspace_online/tests/test_views.py
  src/hackerspace_online/views.py
Due: django-check

my groups button does not display when redundant; Closes #1395
  src/quest_manager/tests/test_views.py
  src/quest_manager/views.py
Due: django-check

my groups button does not display when redundant; Closes #1395 (#1402)
  src/quest_manager/tests/test_views.py
  src/quest_manager/views.py
Due: django-check

Removed unused bootstrap-table templates, stylesheets, and scripts
  src/announcements/templates/announcements/list2.html
  src/announcements/tests/test_views.py
  src/announcements/urls.py
  src/announcements/views.py
  src/quest_manager/static/quest_manager/css/bootstrap-table-accordion.css
  src/quest_manager/static/quest_manager/js/bootstrap-table-accordion.js
  src/quest_manager/templates/quest_manager/base.html
  src/quest_manager/templates/quest_manager/category_detail_content.html
  src/quest_manager/templates/quest_manager/flagged.html
  src/quest_manager/templates/quest_manager/quest_approval.html
  src/quest_manager/templates/quest_manager/quests.html
  src/quest_manager/urls.py
  src/quest_manager/views.py
  src/static/css/bootstrap-table-accordion.css
  src/static/js/bootstrap-table-accordion.js
  src/templates/head_css.html
Due: django-check

Refactored all quest lists using bootstrap-table; Closes #935, Closes #1369, Closes #1380
  src/quest_manager/static/quest_manager/css/bootstrap-table-accordian.css
  src/quest_manager/static/quest_manager/js/bootstrap-table-accordian.js
  src/quest_manager/templates/quest_manager/base.html
  src/quest_manager/templates/quest_manager/category_detail_content.html
  src/quest_manager/templates/quest_manager/quest_approval_old.html
  src/quest_manager/templates/quest_manager/quests_old.html
  src/quest_manager/templates/quest_manager/tab_quests_approvals.html
  src/quest_manager/templates/quest_manager/tab_quests_approvals_old.html
  src/quest_manager/templates/quest_manager/tab_quests_available.html
  src/quest_manager/templates/quest_manager/tab_quests_submission.html
  src/quest_manager/templates/quest_manager/tab_quests_submission_old.html
  src/quest_manager/tests/test_views.py
  src/quest_manager/urls.py
  src/quest_manager/views.py
  src/static/css/bootstrap-table-accordion.css
  src/static/css/custom_common.css
Due: django-check

refactor Quest.time_expired and date_expired tests and fix buggy test; Fixes #1327
  src/quest_manager/models.py
  src/quest_manager/tests/test_models.py
Due: django-check, django-check-migrations

Refactor all quest lists (#1389); Closes #935, Closes #1369, Closes #1380
  src/announcements/templates/announcements/list2.html
  src/announcements/tests/test_views.py
  src/announcements/urls.py
  src/announcements/views.py
  src/quest_manager/static/quest_manager/css/bootstrap-table-accordian.css
  src/quest_manager/static/quest_manager/css/bootstrap-table-accordion.css
  src/quest_manager/static/quest_manager/js/bootstrap-table-accordion.js
  src/quest_manager/templates/quest_manager/base.html
  src/quest_manager/templates/quest_manager/category_detail_content.html
  src/quest_manager/templates/quest_manager/flagged.html
  src/quest_manager/templates/quest_manager/quest_approval_old.html
  src/quest_manager/templates/quest_manager/quests.html
  src/quest_manager/templates/quest_manager/quests_old.html
  src/quest_manager/templates/quest_manager/tab_quests_approvals.html
  src/quest_manager/templates/quest_manager/tab_quests_approvals_old.html
  src/quest_manager/templates/quest_manager/tab_quests_available.html
  src/quest_manager/templates/quest_manager/tab_quests_submission.html
  src/quest_manager/templates/quest_manager/tab_quests_submission_old.html
  src/quest_manager/tests/test_views.py
  src/quest_manager/urls.py
  src/quest_manager/views.py
  src/static/css/bootstrap-table-accordion.css
  src/static/css/custom_common.css
  src/static/js/bootstrap-table-accordion.js
  src/templates/head_css.html
Due: django-check

Fix get_banner_image_url error on public domain in some views (#1387); fixes #1214
  requirements-production.txt
  src/hackerspace_online/tests/test_auth.py
  src/hackerspace_online/tests/test_views.py
  src/hackerspace_online/urls.py
  src/hackerspace_online/views.py
Due: django-check

Add cite & footer elements to summernote safe widget
  src/bytedeck_summernote/settings.py
Due: django-check

fix broken announcement permalinks and comment links; closes #818
  src/announcements/templates/announcements/list.html
Due: none

tests for clean_html method and CommentManager class
  src/comments/models.py
  src/comments/tests/test_models.py
Due: django-check, django-check-migrations

skipped quests now appear in staff approved tab fixes #1400; remove unused quest methods
  src/quest_manager/models.py
  src/quest_manager/tests/test_models.py
Due: django-check, django-check-migrations

remove unused comment code and add missing model tests
  src/comments/models.py
  src/comments/tests/test_models.py
  src/comments/urls.py
  src/comments/views.py
  src/quest_manager/templates/quest_manager/comment_form_main.html
Due: django-check, django-check-migrations

add missing comment view tests
  src/comments/tests/test_views.py
  src/hackerspace_online/tests/utils.py
Due: django-check

Add comment template tag tests; remove unused tag
  src/comments/templatetags/comment_tags.py
  src/comments/tests/test_template_tags
Due: django-check

Fixed issue with quick reply forms not working after refactoring
  src/quest_manager/templates/quest_manager/quest_approval.html
  src/quest_manager/templates/quest_manager/snippets/flag_submissions_scripts.html
  src/quest_manager/templates/quest_manager/tab_quests_approvals.html
  src/quest_manager/templates/quest_manager/tab_quests_submission.html
Due: none

fix comment template tags tests
  src/comments/templatetags/comment_tags.py
  src/comments/tests/test_template_tags
  src/comments/tests/test_template_tags.py
Due: django-check

Fixed issue with quick reply forms not working after refactoring (#1404)
  src/quest_manager/templates/quest_manager/quest_approval.html
  src/quest_manager/templates/quest_manager/snippets/flag_submissions_scripts.html
  src/quest_manager/templates/quest_manager/tab_quests_approvals.html
  src/quest_manager/templates/quest_manager/tab_quests_submission.html
Due: none

changelog for v1.21.1
  CHANGELOG.md
Due: none

HOTFIX: use cached SiteConfig.get() method
  src/courses/views.py
  src/profile_manager/forms.py
  src/tags/views.py
  src/tenant/models.py
Due: django-check, django-check-migrations

Ignore draft and archived quests when considering Campaign completion; #1286
  src/quest_manager/models.py
  src/quest_manager/tests/test_models.py
Due: django-check, django-check-migrations

Fix type if>is in 'This page if visible to staff only.'
  src/announcements/templates/announcements/list.html
  src/courses/templates/courses/block_list.html
  src/courses/templates/courses/course_list.html
  src/courses/templates/courses/semester_list.html
  src/quest_manager/templates/quest_manager/category_list.html
  src/quest_manager/templates/quest_manager/common_quest_info_list.html
Due: none

Make Campaign list searchable and sortable via bootstrap-table; closes #1381
  src/quest_manager/templates/quest_manager/category_list.html
Due: none

Organize Quest related items in Admin menu and add Common Info; closes #1384
  src/templates/navbar-fixed-admin-snippet.html
Due: none

Reconfigure Quests submenu for consistancy with Admin menu items
  src/templates/sidebar.html
Due: none

skipped tests now provide comments
  src/quest_manager/templates/quest_manager/submission_buttons_other.html
  src/quest_manager/tests/test_views.py
  src/quest_manager/views.py
Due: django-check

Rename and move submitted_time.html to snippets/submitted_status.html
  src/quest_manager/templates/quest_manager/preview_content_approvals.html
  src/quest_manager/templates/quest_manager/preview_content_submissions.html
  src/quest_manager/templates/quest_manager/snippets/submitted_status.html
  src/quest_manager/templates/quest_manager/tab_quests_approvals.html
  src/quest_manager/templates/quest_manager/tab_quests_approvals_old.html
  src/quest_manager/templates/quest_manager/tab_quests_submission.html
  src/quest_manager/templates/quest_manager/tab_quests_submission_old.html
Due: none

Clean up mobile layout and content for quest and submission previews
  src/quest_manager/templates/quest_manager/preview_content_approvals.html
  src/quest_manager/templates/quest_manager/preview_content_quests_avail.html
  src/quest_manager/templates/quest_manager/preview_content_submissions.html
  src/quest_manager/templates/quest_manager/snippets/submitted_status.html
Due: none

Indicate skipped quests in status field of submissions and approvals
  src/quest_manager/templates/quest_manager/snippets/submitted_status.html
  src/quest_manager/templates/quest_manager/submission.html
  src/quest_manager/templates/quest_manager/tab_quests_approvals.html
  src/quest_manager/templates/quest_manager/tab_quests_submission.html
Due: none

Clean up skipped quest XP display in profiles
  src/profile_manager/templates/profile_manager/profile_detail.html
  src/quest_manager/templates/quest_manager/quick_buttons.html
Due: none

DRY out Profile quest lists
  src/profile_manager/templates/profile_manager/profile_detail.html
  src/profile_manager/templates/profile_manager/snippets/profile_quest_list.html
Due: none

rename profile tests to match test_view__specific_stuff naming convention
  src/profile_manager/tests/test_views.py
Due: django-check

sorting badges by sort_order on profiles; closes #1411
  src/badges/models.py
  src/badges/tests/test_models.py
Due: django-check, django-check-migrations

Allow deletion of Semesters with no students, not closed, and not the current semester; fixes #1418
  src/courses/templates/courses/semester_confirm_delete.html
  src/courses/templates/courses/semester_list.html
  src/courses/tests/test_views.py
  src/courses/urls.py
  src/courses/views.py
Due: django-check

add success message when deleting courses and block/groups
  src/courses/views.py
Due: django-check

remove unneeded SuccessMessageMixin from DeleteView
  src/courses/tests/test_views.py
  src/courses/views.py
Due: django-check

add Profile and History panels to debug toolbar
  src/hackerspace_online/settings.py
Due: django-check

Add field Profile.time_of_last_submission to cache value and speed up profile lists; #1161
  src/profile_manager/migrations/0016_profile_time_of_last_submission.py
  src/profile_manager/models.py
  src/profile_manager/templates/profile_manager/profile_list.html
  src/profile_manager/views.py
  src/quest_manager/models.py
  src/quest_manager/tests/test_models.py
Due: django-check, django-check-migrations

Add field Profile.mark_cached to cache value and speed up profile lists; #1161
  src/courses/models.py
  src/courses/views.py
  src/profile_manager/migrations/0017_profile_mark_cached.py
  src/profile_manager/models.py
  src/profile_manager/templates/profile_manager/profile_list.html
  src/profile_manager/views.py
Due: django-check, django-check-migrations
