Repository bytedeck/bytedeck: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations

django-check:
  name: Check django project for potential problems
  entry: sh -c 'python src/manage.py check'
  pass_filenames: false
  language: system

django-check-migrations:
  name: Check django project for missing migrations.
  entry: sh -c 'python src/manage.py makemigrations --check --dry-run'
  pass_filenames: false
  language: system

Fix pre-commit local config (#1275)
  .pre-commit-config.yaml
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update README to 1.19.3
  CHANGELOG.md
Due: none

feature: per-model `search_fields` for ContentObjectSelect2Widget class
  src/djcytoscape/forms.py
  src/prerequisites/forms.py
  src/prerequisites/widgets.py
  src/utilities/tests/test_views.py
  src/utilities/tests/test_widgets.py
  src/utilities/widgets.py
Due: django-check

Add unique contsraint for quest submission
  src/quest_manager/migrations/0032_questsubmission_unique_quest_submission.py
  src/quest_manager/models.py
Due: django-check, django-check-migrations

Deal with multiple submissions and fix ordinals
  src/quest_manager/models.py
Due: django-check, django-check-migrations

Automatically fix ordinals on error
  src/quest_manager/models.py
  src/quest_manager/tests/test_models.py
Due: django-check, django-check-migrations

Remove logging
  src/quest_manager/models.py
Due: django-check, django-check-migrations

Add test that _fix_ordinal has been called
  src/quest_manager/tests/test_models.py
Due: django-check, django-check-migrations

Add assertion that raises MultipleObjectsReturned
  src/quest_manager/tests/test_models.py
Due: django-check, django-check-migrations

Automatically fix ordinals on error (#1292) - Closes #1260
  src/quest_manager/models.py
  src/quest_manager/tests/test_models.py
Due: django-check, django-check-migrations

Add header meanu and footer links on public landing page
  src/templates/public/base.html
  src/templates/public/snippets/footer.html
Due: none

fill test gap in announcement/signals.py
  src/announcements/signals.py
  src/announcements/tests/test_signals.py
Due: django-check

add comment on flaky test case
  src/quest_manager/tests/test_models.py
Due: django-check, django-check-migrations

add comment on flaky test case (#1305)
  src/quest_manager/tests/test_models.py
Due: django-check, django-check-migrations

update Changelog for 1.19.4
  CHANGELOG.md
Due: none

Set SESSION_COOKIE_AGE to 8 weeks by default; Closes #1298
  src/hackerspace_online/settings.py
Due: django-check

Add test case for SESSION_COOKIE_AGE
  src/hackerspace_online/tests/test_forms.py
Due: django-check

Set login session expiry to 8 weeks (#1306)
  src/hackerspace_online/settings.py
  src/hackerspace_online/tests/test_forms.py
Due: django-check

worked on base.html and head_css.html
  src/static/css/bootstrap_slate.min.css
  src/static/css/bs5_custom.css
  src/static/css/custom_common.css
  src/static/css/custom_slate.css
  src/templates/base.html
  src/templates/base_sidebar.html
  src/templates/head_css.html
  src/templates/navbar-fixed.html
  src/templates/public/base.html
  src/templates/sidebar.html
Due: none

feature: implement ByteDeckSummernoteInplaceWidget
  requirements-production.txt
  src/announcements/admin.py
  src/announcements/forms.py
  src/bytedeck_summernote/__init__.py
  src/bytedeck_summernote/admin.py
  src/bytedeck_summernote/templates/bytedeck_summernote/LICENSE
  src/bytedeck_summernote/templates/bytedeck_summernote/widget_advanced.html
  src/bytedeck_summernote/templates/bytedeck_summernote/widget_advanced_editor.html
  src/bytedeck_summernote/templates/bytedeck_summernote/widget_common.html
  src/bytedeck_summernote/templates/bytedeck_summernote/widget_safe.html
  src/bytedeck_summernote/tests/__init__.py
  src/bytedeck_summernote/tests/test_admin.py
  src/bytedeck_summernote/tests/test_views.py
  src/bytedeck_summernote/tests/test_widgets.py
  src/bytedeck_summernote/urls.py
  src/bytedeck_summernote/views.py
  src/bytedeck_summernote/widgets.py
  src/comments/forms.py
  src/hackerspace_online/settings.py
  src/hackerspace_online/urls.py
  src/portfolios/forms.py
  src/quest_manager/admin.py
  src/quest_manager/forms.py
  src/utilities/admin.py
  src/utilities/forms.py
Due: django-check

worked on bs5 design
  src/profile_manager/templates/profile_manager/profile_list.html
  src/static/css/bs5_custom.css
  src/static/css/custom_common.css
  src/templates/footer.html
  src/templates/head_css.html
  src/templates/navbar-fixed.html
  src/templates/public/base.html
  src/templates/sidebar.html
Due: none

worked on header responsive , navbar_fixed.html,footer.html
  src/profile_manager/templates/profile_manager/profile_list.html
  src/static/css/bs5_custom.css
  src/templates/base_sidebar.html
  src/templates/footer.html
  src/templates/head_css.html
  src/templates/navbar-fixed.html
Due: none

worked on bs5custom,navbarfixed,head_css,profile_list,banner,theme_examples
  src/profile_manager/templates/profile_manager/profile_list.html
  src/static/css/bs5_custom.css
  src/templates/banner.html
  src/templates/bootstrap_theme_examples.html
  src/templates/head_css.html
  src/templates/navbar-fixed.html
Due: none

worked on responsive , dropdown
  src/notifications/templates/notifications/list.html
  src/quest_manager/templates/quest_manager/summary.html
  src/static/css/bs5_custom.css
  src/static/css/custom_common.css
  src/templates/bootstrap_theme_examples.html
  src/templates/navbar-fixed.html
Due: none

worked on responsive dropdown,responsive design,navbar fixed,custom css,list
  src/badges/templates/badges/list.html
  src/notifications/templates/notifications/list.html
  src/profile_manager/templates/profile_manager/profile_list.html
  src/quest_manager/templates/quest_manager/category_list.html
  src/quest_manager/templates/quest_manager/quest_approval.html
  src/quest_manager/templates/quest_manager/quests.html
  src/quest_manager/templates/quest_manager/quests2.html
  src/static/css/bs5_custom.css
  src/static/css/custom_common.css
  src/templates/head_css.html
  src/templates/navbar-fixed.html
Due: none

worked on responsive on base.html.sidebar.html,quest_approval.html,badge_icon.html,quest.html
  src/badges/templates/badges/snippets/badge_icon.html
  src/notifications/templates/notifications/list.html
  src/profile_manager/templates/profile_manager/profile_detail.html
  src/quest_manager/templates/quest_manager/flagged.html
  src/quest_manager/templates/quest_manager/quest_approval.html
  src/quest_manager/templates/quest_manager/quests.html
  src/quest_manager/templates/quest_manager/quests2.html
  src/quest_manager/templates/quest_manager/tab_quests_available.html
  src/quest_manager/templates/quest_manager/tab_quests_submission.html
  src/static/css/bs5_custom.css
  src/static/css/custom_common.css
  src/templates/base.html
  src/templates/base_sidebar.html
  src/templates/footer.html
  src/templates/head_css.html
  src/templates/navbar-fixed-admin-snippet.html
  src/templates/navbar-fixed.html
  src/templates/sidebar.html
Due: none

add examples to run tests faster and more precisely in CONTRIBUTING
  CONTRIBUTING.md
  README.md
Due: none

Add tests checking that maps don't contain draft or archived quests
  src/djcytoscape/tests/test_models.py
Due: django-check, django-check-migrations

add test to capture bug where archived quests are still considered 'active'; also change default for quest.date_available to a Date object
  src/quest_manager/models.py
  src/quest_manager/tests/test_models.py
Due: django-check, django-check-migrations

Add check for condition to XPItem/Quest.active() method
  src/quest_manager/models.py
Due: django-check, django-check-migrations

Flake8 cleanup on djcytoscape test_models
  src/djcytoscape/tests/test_models.py
Due: django-check, django-check-migrations

Bump build pipeline version to ubuntu-20.04
  .github/workflows/build_and_test.yml
  .github/workflows/lint.yml
Due: none

Bump build pipeline version to ubuntu-20.04 (#1320)
  .github/workflows/build_and_test.yml
  .github/workflows/lint.yml
Due: none

Add missing migration check
  .github/workflows/build_and_test.yml
Due: none

Move django checks to github workflow
  .github/workflows/build_and_test.yml
  .pre-commit-config.yaml
Due: none

Add missing migration file
  src/quest_manager/migrations/0032_alter_quest_date_available.py
Due: django-check

Add missing migration check (#1322)
  .github/workflows/build_and_test.yml
  .pre-commit-config.yaml
  src/quest_manager/migrations/0032_alter_quest_date_available.py
Due: django-check

Path conditions:
  django-check: any of: \.py$
  django-check-migrations: any of: models.py and \.py$
