Repository bytedeck/bytedeck: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-added-large-files
        exclude: ^requirements/generated.txt

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.34.0
    hooks:
      - id: pyupgrade
        args: [ "--py36-plus", "--py37-plus", "--py38-plus" ]
        types: [python]

  - repo: local
    hooks:
      - id: django-check
        name: Check django project for potential problems
        entry: sh -c 'python src/manage.py check'
        types: [python]
        pass_filenames: false
        language: system
      - id: django-check-migrations
        name: Check django project for missing migrations.
        entry: sh -c 'python src/manage.py makemigrations --check --dry-run'
        files: "models.py"
        types: [python]
        pass_filenames: false
        language: system

  - repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
      - id: autoflake
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variable",
          ]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          [
            "flake8-bugbear",
            "flake8-comprehensions",
            "flake8-mutable",
          ]

  ## Packages here are subjective...
  # - repo: https://github.com/asottile/reorder_python_imports
  #   rev: v3.1.0
  #   hooks:
  #     - id: reorder-python-imports
  #
  # - repo: https://github.com/python/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black

remove all duplicate/runaway queryset database hits on ProfileList view; closes #1161
  src/profile_manager/templates/profile_manager/profile_list.html
  src/profile_manager/views.py
Due: django-check

tests: add tests for "textify" and "send_mass_mail" functions
  src/tenant/tasks.py
  src/utilities/html.py
  src/utilities/mail.py
  src/utilities/tests/test_html.py
  src/utilities/tests/test_mail.py
Due: django-check

tests: re-factoring and missing tests
  src/tenant/admin.py
  src/tenant/tasks.py
  src/tenant/templates/admin/tenant/send_email_message.html
  src/tenant/tests/test_admin.py
Due: django-check

WIP: Admin action on public tenant to send emails, closes #1386
  requirements-production.txt
  src/tenant/admin.py
  src/tenant/forms.py
  src/tenant/tasks.py
  src/tenant/templates/admin/tenant/action_send_email.html
Due: django-check

tests: test "textify" not ignoring links
  src/utilities/tests/test_html.py
Due: django-check

fix: add missing templates
  src/tenant/admin.py
  src/tenant/forms.py
  src/tenant/tasks.py
  src/tenant/templates/admin/tenant/action_send_email.html
  src/tenant/templates/admin/tenant/email/message.txt
  src/tenant/templates/admin/tenant/send_email_message.html
Due: django-check

tests: add tests for "tenant.tasks" module
  src/tenant/tests/test_tasks.py
Due: django-check

tests: re-worked tests
  src/tenant/admin.py
  src/tenant/tasks.py
  src/tenant/templates/admin/tenant/tenant/message_selected_compose.html
  src/tenant/tests/test_admin.py
  src/tenant/tests/test_tasks.py
  src/utilities/mail.py
  src/utilities/tests/test_mail.py
Due: django-check

Added proper sorting to status column; Closes #1406
  src/quest_manager/templates/quest_manager/snippets/submission_status_timestamp.html
  src/quest_manager/templates/quest_manager/tab_quests_approvals.html
  src/quest_manager/templates/quest_manager/tab_quests_submission.html
Due: none

Moved common JS includes to quest_manager/base.html
  src/quest_manager/templates/quest_manager/base.html
  src/quest_manager/templates/quest_manager/category_detail.html
  src/quest_manager/templates/quest_manager/category_detail_content.html
  src/quest_manager/templates/quest_manager/category_list.html
  src/quest_manager/templates/quest_manager/quest_approval.html
  src/quest_manager/templates/quest_manager/quests.html
Due: none

Fixed duplication issue with expanded bootstrap-table rows
  src/quest_manager/static/quest_manager/js/bootstrap-table-accordion.js
  src/quest_manager/templates/quest_manager/category_detail_content.html
  src/quest_manager/templates/quest_manager/tab_quests_available.html
Due: none

Changed styling for muted quest rows and collapsing rows; Closes #1403; Closes #1409
  src/quest_manager/static/quest_manager/css/bootstrap-table-accordion.css
  src/quest_manager/static/quest_manager/js/bootstrap-table-accordion.js
  src/quest_manager/templates/quest_manager/tab_quests_approvals.html
  src/quest_manager/templates/quest_manager/tab_quests_submission.html
Due: none

Handle bug where course has been deleted and CourseStudent can't calculate mark; includes test
  src/courses/models.py
  src/courses/tests/test_models.py
Due: django-check, django-check-migrations

Fix patch in src.courses.tests.test_models.MarkRangeManagerTest.test_get_range_for_user
  src/courses/tests/test_models.py
Due: django-check, django-check-migrations

Added proper sorting to status column; Closes #1406 (#1420)
  src/quest_manager/templates/quest_manager/snippets/submission_status_timestamp.html
  src/quest_manager/templates/quest_manager/tab_quests_approvals.html
  src/quest_manager/templates/quest_manager/tab_quests_submission.html
Due: none

Tighten up test for QuestManager.get_available in prep for optimizations
  src/quest_manager/models.py
  src/quest_manager/tests/test_managers.py
Due: django-check, django-check-migrations

Refactor quest methods to reduce databse hits; closes #282
  src/quest_manager/models.py
  src/quest_manager/tests/test_managers.py
Due: django-check, django-check-migrations

Upgrade Django to 3.2.18 (previously mistakenly pinned to 17); #1353
  requirements-production.txt
Due: none

Fixed Quest List Bugs: Duplicate IDs, Border Styling, Infinite Loading Indicator (#1410)
  src/quest_manager/static/quest_manager/css/bootstrap-table-accordion.css
  src/quest_manager/static/quest_manager/js/bootstrap-table-accordion.js
  src/quest_manager/templates/quest_manager/base.html
  src/quest_manager/templates/quest_manager/category_detail.html
  src/quest_manager/templates/quest_manager/category_detail_content.html
  src/quest_manager/templates/quest_manager/category_list.html
  src/quest_manager/templates/quest_manager/quest_approval.html
  src/quest_manager/templates/quest_manager/quests.html
  src/quest_manager/templates/quest_manager/tab_quests_approvals.html
  src/quest_manager/templates/quest_manager/tab_quests_available.html
  src/quest_manager/templates/quest_manager/tab_quests_submission.html
Due: none

Add select/prefetch_related into defaul submission querysets
  src/quest_manager/models.py
  src/quest_manager/templates/quest_manager/tab_quests_available.html
  src/quest_manager/views.py
Due: django-check, django-check-migrations

Optimize queryset for checking expired quests
  src/quest_manager/templates/quest_manager/tab_quests_available.html
  src/quest_manager/views.py
Due: django-check

Update changelop for 1.21.2
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix README formatting
  CHANGELOG.md
Due: none

Removed old quest list views
  src/quest_manager/templates/quest_manager/quest_approval_old.html
  src/quest_manager/templates/quest_manager/quests_old.html
  src/quest_manager/templates/quest_manager/tab_quests_approvals_old.html
  src/quest_manager/templates/quest_manager/tab_quests_available_old.html
  src/quest_manager/templates/quest_manager/tab_quests_submission_old.html
  src/quest_manager/tests/test_views.py
  src/quest_manager/urls.py
  src/quest_manager/views.py
Due: django-check

Removed old quest list views (#1426)
  src/quest_manager/templates/quest_manager/quest_approval_old.html
  src/quest_manager/templates/quest_manager/quests_old.html
  src/quest_manager/templates/quest_manager/tab_quests_approvals_old.html
  src/quest_manager/templates/quest_manager/tab_quests_available_old.html
  src/quest_manager/templates/quest_manager/tab_quests_submission_old.html
  src/quest_manager/tests/test_views.py
  src/quest_manager/urls.py
  src/quest_manager/views.py
Due: django-check

Wrap long urls in comments; fixes #1425
  src/static/css/custom_common.css
  src/templates/head_css.html
Due: none

Fix missing quest completion dates on profiles; fixes #1427
  src/profile_manager/templates/profile_manager/snippets/profile_quest_list.html
Due: none

fix: custom css rejecting valid properties, closes #1428
  requirements-production.txt
  src/siteconfig/forms.py
  src/siteconfig/tests/test_forms.py
  src/siteconfig/tests/test_views.py
Due: django-check

docs: "correct" explanation of *set() trick
  src/tenant/admin.py
Due: django-check

fix: make sure email address exists and verified
  src/tenant/admin.py
  src/tenant/tests/test_admin.py
Due: django-check

feature: using BCC for mass emailing
  src/tenant/tasks.py
  src/tenant/tests/test_admin.py
  src/tenant/tests/test_tasks.py
Due: django-check

fix: rename "To" label to "Bcc"
  src/tenant/templates/admin/tenant/tenant/message_selected_compose.html
Due: none

fix: removing unused "utilities.mail" module
  src/utilities/mail.py
  src/utilities/tests/test_mail.py
Due: django-check

fix: include tenant name in the email
  src/tenant/admin.py
  src/tenant/tests/test_admin.py
Due: django-check

fix: use DEFAULT_FROM_EMAIL as the To address
  src/tenant/admin.py
  src/tenant/tasks.py
  src/tenant/templates/admin/tenant/tenant/message_selected_compose.html
  src/tenant/tests/test_admin.py
Due: django-check

tests: find bug (empty email) in "message_selected" action
  src/tenant/tests/test_admin.py
Due: django-check

fix: local variable "email" referenced before assignment
  src/tenant/admin.py
Due: django-check

tests: find a case when no recipients found
  src/tenant/tests/test_admin.py
Due: django-check
