Repository bytedeck/bytedeck: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations

django-check:
  name: Check django project for potential problems
  entry: sh -c 'python src/manage.py check'
  pass_filenames: false
  language: system

django-check-migrations:
  name: Check django project for missing migrations.
  entry: sh -c 'python src/manage.py makemigrations --check --dry-run'
  pass_filenames: false
  language: system

Refactoring of quest list using bootstrap-table (#1372); #1369 almost complete.
  src/quest_manager/static/quest_manager/css/bootstrap-table-accordian.css
  src/quest_manager/static/quest_manager/js/bootstrap-table-accordian.js
  src/quest_manager/templates/quest_manager/base.html
  src/quest_manager/templates/quest_manager/quests2.html
  src/quest_manager/templates/quest_manager/quests_old.html
  src/quest_manager/templates/quest_manager/tab_quests_available.html
  src/quest_manager/templates/quest_manager/tab_quests_available_old.html
  src/quest_manager/tests/test_views.py
  src/quest_manager/urls.py
  src/quest_manager/views.py
Due: django-check

add badge label customization; closes #1330 (#1377)
  src/badges/forms.py
  src/badges/templates/badges/badge_confirm_delete.html
  src/badges/templates/badges/badgetype_confirm_delete.html
  src/badges/templates/badges/badgetype_list.html
  src/badges/templates/badges/base.html
  src/badges/templates/badges/detail.html
  src/badges/templates/badges/list.html
  src/badges/templates/badges/snippets/badge_popover_content.html
  src/badges/tests/test_views.py
  src/badges/views.py
  src/siteconfig/migrations/0022_siteconfig_custom_name_for_badge.py
  src/siteconfig/models.py
  src/templates/sidebar.html
Due: django-check, django-check-migrations

Custom deck css and js, fix #1365
  requirements-production.txt
  src/siteconfig/forms.py
  src/siteconfig/migrations/0022_auto_20230529_2010.py
  src/siteconfig/models.py
  src/siteconfig/templates/siteconfig/siteconfig_form.html
  src/siteconfig/tests/test_forms.py
  src/siteconfig/tests/test_views.py
  src/siteconfig/views.py
  src/templates/head_css.html
  src/templates/javascript.html
Due: django-check, django-check-migrations

Test for "custom_stylesheet" submission and removal issue
  src/siteconfig/tests/test_forms.py
Due: django-check

Fix for "custom_stylesheet" submission / removal issue
  src/siteconfig/forms.py
Due: django-check

merge with upstream branch
  src/siteconfig/migrations/0023_merge_20230530_2153.py
Due: django-check

Test for `form.helper.layout` and form submission issues
  src/siteconfig/tests/test_views.py
Due: django-check

fix: include missing "custom_name_for_badge" field
  src/siteconfig/forms.py
  src/siteconfig/tests/test_views.py
Due: django-check

Custom deck css and js; closes #1365 (#1376)
  requirements-production.txt
  src/siteconfig/forms.py
  src/siteconfig/migrations/0022_auto_20230529_2010.py
  src/siteconfig/migrations/0023_merge_20230530_2153.py
  src/siteconfig/models.py
  src/siteconfig/templates/siteconfig/siteconfig_form.html
  src/siteconfig/tests/test_forms.py
  src/siteconfig/tests/test_views.py
  src/siteconfig/views.py
  src/templates/head_css.html
  src/templates/javascript.html
Due: django-check, django-check-migrations

Update Changelog for v1.21
  CHANGELOG.md
Due: none

Test permitted mimetypes for `custom_javascript` file uploads
  src/siteconfig/tests/test_views.py
Due: django-check

Fix: extend list of permitted "javascript" mimetypes
  src/siteconfig/models.py
Due: django-check, django-check-migrations

Fix: extend list of permitted "javascript" mimetypes aa06649 (#1385)
  src/siteconfig/models.py
  src/siteconfig/tests/test_views.py
Due: django-check, django-check-migrations

display gogole sign on status in tenant admin
  src/siteconfig/models.py
  src/tenant/admin.py
  src/tenant/migrations/0011_tenant_google_signon_enabled.py
  src/tenant/models.py
Due: django-check, django-check-migrations

Add test that get_rank() method can handle negative XP values
  src/courses/tests/test_models.py
Due: django-check, django-check-migrations

Add test for MarkRangeManager.get_range_for_user()
  src/courses/tests/test_models.py
Due: django-check, django-check-migrations

Add test for MarkRange.__str__()
  src/courses/tests/test_models.py
Due: django-check, django-check-migrations

Add tests for Rank model
  src/courses/tests/test_models.py
Due: django-check, django-check-migrations

Add test for Course.get_absolute_url()
  src/courses/tests/test_models.py
Due: django-check, django-check-migrations

Add tests for CourseStudentManager class
  src/courses/tests/test_models.py
Due: django-check, django-check-migrations

Add BadgeAssertionManager method user_badge_assertion_count to display in badge detail view
  src/badges/models.py
  src/badges/tests/test_models.py
Due: django-check, django-check-migrations

WIP add assertion list to Badge Detail page
  src/badges/templates/badges/detail.html
  src/badges/views.py
Due: django-check

add list of badge assertions per student on badge detail page
  src/badges/templates/badges/detail.html
  src/badges/views.py
Due: django-check

Add current|all buttons to badge detail
  src/badges/models.py
  src/badges/templates/badges/detail.html
  src/badges/urls.py
  src/badges/views.py
Due: django-check, django-check-migrations

Fill test coverage gaps for various badge module Model methods
  src/badges/tests/test_models.py
Due: django-check, django-check-migrations

Add basic View tests for the Portfolio app
  src/portfolios/tests.py
  src/portfolios/tests/__init__.py
  src/portfolios/tests/test_forms.py
  src/portfolios/tests/test_models.py
  src/portfolios/tests/test_views.py
  src/portfolios/urls.py
Due: django-check, django-check-migrations

Refactor portfolio views and fix bug in DeleteView
  src/portfolios/tests/test_views.py
  src/portfolios/urls.py
  src/portfolios/views.py
Due: django-check

Add test that portfolio is accessible if shared locally
  src/portfolios/tests/test_views.py
Due: django-check

Portfolio views refactoring and test form view posting
  src/portfolios/tests/test_views.py
  src/portfolios/urls.py
  src/portfolios/views.py
Due: django-check

Create env var for deck admin default email address; closees #1391
  .env.example
  .env.example.aws
  src/hackerspace_online/settings.py
  src/tenant/tests/test_initialization.py
Due: django-check

Grant deck owner superuser status; closes #1390
  src/siteconfig/forms.py
  src/siteconfig/tests/test_views.py
Due: django-check

replace block terminology with custom name for group; Closes #1393
  src/quest_manager/templates/quest_manager/quest_approval.html
  src/quest_manager/templates/quest_manager/tab_quests_approvals.html
  src/quest_manager/tests/test_views.py
  src/quest_manager/views.py
Due: django-check

replace block terminology with custom name for group; Closes #1393 (#1394)
  src/quest_manager/templates/quest_manager/quest_approval.html
  src/quest_manager/templates/quest_manager/tab_quests_approvals.html
  src/quest_manager/tests/test_views.py
  src/quest_manager/views.py
Due: django-check

remove print statements in test modules
  src/courses/tests/test_models.py
  src/notifications/tests/test_tasks.py
Due: django-check, django-check-migrations

remove print statements in test modules (#1398)
  src/courses/tests/test_models.py
  src/notifications/tests/test_tasks.py
Due: django-check, django-check-migrations

remove staff view customlabels; Closes #1330
  src/announcements/forms.py
  src/announcements/templates/announcements/delete.html
  src/announcements/tests/test_views.py
  src/badges/forms.py
  src/badges/tests/test_views.py
  src/siteconfig/models.py
Due: django-check, django-check-migrations

Add html5 media tags and missing bootstrap typography tags to SummernoteSafe widget; closes #1401
  src/bytedeck_summernote/settings.py
Due: django-check

remove staff view customlabels; Closes #1330 (#1392)
  src/announcements/forms.py
  src/announcements/templates/announcements/delete.html
  src/announcements/tests/test_views.py
  src/badges/forms.py
  src/badges/tests/test_views.py
  src/siteconfig/models.py
Due: django-check, django-check-migrations

fix: issue #1214
  requirements-production.txt
  src/hackerspace_online/urls.py
  src/hackerspace_online/views.py
Due: django-check

Path conditions:
  django-check: any of: \.py$
  django-check-migrations: any of: models.py and \.py$
